<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="WebApp">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%-5sequenceNumber | %d | [%-5level] %-27logger{1.} [%t:%line] %enc{%msg}%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=white, DEBUG=green, TRACE=cyan}"/>
        </Console>
        <File name="LoggerFile" fileName="logs/app.log" append="true" >
            <PatternLayout>
                <Pattern>%highlight{  %d  | [%-5level] %-27logger{1.} [%t:%line] %enc{%msg}%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=white, DEBUG=green, TRACE=cyan}</Pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="500"></SizeBasedTriggeringPolicy>
        </File>

    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="LoggerFile"/>
        </Root>
    </Loggers>
</Configuration>